
.tital{
    color: gold;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding-top: 150px;
    padding-bottom: 0px;
}
.new-year{
    color: orange;
    text-align: center;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 1000px;
    margin-top: -60px;
}
.bannar{
    background-image: url(../img/Banner\ Image.png);
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    border-radius: 16px;
    background-position: center;
    margin: 60px auto;
}
.discount{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    padding-top: 60px;
}
.discount-tital{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: -20px;
}
.discount-head{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: -50px;
}
.discount-img{
    background-image: url(../img/New\ Year\ Photo.png);
    width: 1000px;
    height: 500px;
    flex-shrink: 0;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    padding-top: 100px;
}
.welcome-tital{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
}
.welcome-pra{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin-top: -40px;
}
.welcom-btn{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    background-color: #F00;
}
.welcome-party{
    background-image: url(../img/Vectorrr.png);
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-new-year{
    padding: 120px;

}
.welcome-containar{
    padding: 80px;
    margin-top: -100px;
    margin-left: 5%;
}
.about{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    text-align: center;
    margin-top: 150px;
}
.about-cont{
    padding: 80px;
    padding-top: 180px;
    margin-bottom: 10px;

}
.gap{
    margin-top: -50px;
}
.about-color{
    color: #F00;
}
.about-btn{
    display: inline-flex;
    padding: 1px 15px;
    justify-content: center;
    align-items: center;
    background-color: #F00;
    border-radius: 10px;
    color: #FFF;
    border: none;
    

}
.about-brg{
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1320px;
    height: 482px;
    flex-shrink: 0;
    background-position: center;
    margin: auto;
    border-radius: 16px;

}
.comming{
    display: flex;
    background: #FFF;
    width: 1320px;
    height: 600px;
    background-position: center;
    margin: 60px auto;
    justify-content: space-around;
    height: 465px;
    padding-top: 150px;

}
.comming-new-pic{
    width: 140px;
    height: 140px;
    flex-shrink: 0;
}
.comming-color{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.comming-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
.comming-pra{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; /* 160% */
}
.comming-img{
    
}
.comming-img-circle{
    border-radius: 463px;
    border: 15px solid #F00;
}
.year-color{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.comming-new-pra{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
}
.sale-title{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}
.sale-off{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    position: center;
    margin-top: -20px;
}
.sale-off-pra{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 160% */
    margin-top: -40px;
}
.holi-span{
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}
.sale{
    width: 1320px;
    height: 975px;
    background-position: center;
    margin: 60px auto;
    background-image: url(../img/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    
}
.anayet{
    position: relative;
    top: 10px;
    right: 200px;
}
.sale-off-pic{
    position: relative;
    top:-300px;
    right: 290px;
}
.end-red{
    position: relative;
    top: -600px;
    left: 445px;


}
.sale-cont{
    text-align: center;
}
.best-gift{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-top: 120px;
}
.pot-cont{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: -10px;
}
.pot-pra{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; /* 160% */
    margin-top: -20px;
    margin-bottom: 70px;
}
.pot-head{
    padding: 5px;
}
.pot-img{
    display: flex;
    margin: -40px;
}
.pot{
    width: 1300px;
    align-items: center;
    margin: auto;
    
}
.subscribe{
    background: rgba(255, 0, 0, 0.05);
    width: 1320px;
    height: 616px;
    flex-shrink: 0;
    border-radius: 16px;
    background-position: center;
    margin: 60px auto;
}
.sub-img{
    text-align: center;
}
.sub-tital{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
.sub-pra{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; /* 160% */
}
.sub-btn{
    width: 648px;
    height: 72px;
    flex-shrink: 0;
    align-items: center;
    margin: 60px auto;
    border-radius: 50px;
    background: #FFF;

}
.place{
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-top: 23px;
    background-color: none;
    border: none;
}
.subscribe-btn{
    background-color: red;
    border: none;
    color: aliceblue;
    font-size: 20px;
    font-weight: 700;
    line-height: 16px; 
    padding-right: 20px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px; 
    font-family: 'Roboto', sans-serif;
    margin-left: 250px;
    padding-bottom: 6px;
  
}
.footer-tital{
    display: flex;
    justify-content: space-around;
    color: #FFF;
    text-align: center;
    padding-top: 70px;
}
.contract{
    display: flex;
    margin-bottom: 50px;
}
.call{
    display: flex;
}
.call-img{
    padding: 3px;
}
.footer-img{
    text-align: center;
    color: #FFF;
    padding: 70px;
}
.footer-end{
    display: flex;
    justify-content: space-around;
    color: #FFF;
    padding: 50px;
    margin-bottom: 90px;
}
.footer{
    background: #070211;
    height: 609px;
    flex-shrink: 0;

}
.web-site{
    text-align: center;
}